*,
*::before,
*::after {
  box-sizing:content-box !important;
}

html {
  background-color: #121213;
}

body {
  background-color: #121213 !important;
  color: white !important;
  padding: 40px !important;
  font-family: Arial;
  text-align: center;
}

/*Modal styles */
.modal-content {
  background-color: #121213 !important;
  color: #cccccc !important;
}

.modal-body {
  color: #cccccc !important;
}

.modal-header .btn-close {
  color: #cccccc !important;
  background-color: #cccccc !important;
}

/*keyboard styles */
.keyboard .correctKey {
  background-color: #538d4e !important;
}

.keyboard .yellowKey {
  background-color: #b59f3b !important;
}

.keyboard .wrongKey {
  background-color: #3a3a3c !important;
}


.invalid {
  background-color: #872c27 !important;
}