*,
*::before,
*::after {
  box-sizing:content-box !important;
}

html {
  background-color: #121213;
  height: 100%;
}

body {
  background-color: #121213 !important;
  color: white !important;
  padding: 3rem !important;
  font-family: Arial;
  text-align: center;
}

/* tile stuff */
.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.invalid {
  background-color: #872c27 !important;
}


/*Modal styles */
.modal-content {
  background-color: #121213 !important;
  color: #cccccc !important;
}

.modal-body {
  color: #cccccc !important;
}

.modal-header .btn-close {
  color: #cccccc !important;
  background-color: #cccccc !important;
}

.modal-header {
  border-bottom: 0 none;
}

.modal-footer {
  border-top: 0 none;
}

.modal-content p {
  text-align: left;
  font-size: 1.2rem;
}
/*keyboard styles */
.keyboard .correctKey {
  background-color: #538d4e !important;
}

.keyboard .yellowKey {
  background-color: #b59f3b !important;
}

.keyboard .wrongKey {
  background-color: #3a3a3c !important;
}
